# https://developers.google.com/apps-script/guides/clasp
.clasp.json

# Using default appsscript.json
appsscript.json

# NPM used for local development tools only.
node_modules/
package.json
package-lock.json

# ESLint used for local development only.
.eslintrc.*
